@import "https://cdn.jsdelivr.net/npm/sanitize.css";
@import "https://cdn.jsdelivr.net/npm/sanitize.css@13.0.0/ui-monospace.css";
@import "https://cdn.jsdelivr.net/npm/sanitize.css@13.0.0/typography.css";
@import "https://cdn.jsdelivr.net/npm/sanitize.css@13.0.0/forms.css";

main, footer {
  margin: 0 auto;
  max-width: 1024px;
  padding: 20px;
}

main {
  padding-bottom: 60px;
}

footer {
  text-align: right;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .5;
  z-index: -1;
}

footer a {
  color: inherit;
}

.ctrl {
  display: flex;
  align-items: center;
  gap: 5px;
}

#search {
  display: block;
  width: 100%;
  outline: 0;
}

#search:focus {
  border-color: currentColor;
}

.link-btn {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: underline;
  font-size: small;
  cursor: pointer;
  color: grey;
}

.link-btn:disabled {
  text-decoration: line-through;
  cursor: default;;
}

result-item a {
  color: #0074D9;
}
